.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #769FCD;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 0.80rem; 
  }